# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Datasets and Media
*.mp4
!data/data/*.mp4
data/.cache/

# Docs
internaldocs/*

# Jupyter Notebooks
.ipynb_checkpoints/

# Extracted Datasets (Images)
datasets/
data/data/*


# Outputs
outputs/yolo_classifier/*
!outputs/yolo_classifier/weights/
outputs/yolo_classifier/weights/*
!outputs/yolo_classifier/weights/*.pt
outputs/detections.json
outputs/categorized_detections.json
outputs/database.jsonl
outputs/policy_schema.json
outputs/shift_summary.md
yolov8n.pt